.home-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
}

/* 限制菜单的高度 */
.home-menu .am-tab-bar {
  height: 50px;
}

.home-menu .am-tabs-tab-bar-wrap {
  position: fixed;
  bottom: 0;
  width: 100%;
}